.page-stack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  /* z-index: 1; */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.page-stack.page-active {
  transform: translateX(0);
}
