.deposit {
  margin-bottom: 20px;
}

.deposit input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.deposit button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #10b981;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.deposit button:hover {
  background-color: #059669;
}
