.header-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: none;
  background: rgba(221, 221, 221, 0.8);
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 30px;
  padding-top: 7px;
  z-index: 100;
}

.icon-wrapper {
  position: relative;
  width: 20px; /* тексту можно увеличить */
  /* height: 25px; */
  display: flex;
  flex-wrap: wrap;

}

.text-wrapper {
  position: relative;
  width: 50px; /* тексту можно увеличить */
  /* height: 25px; */
}

.icon, .text {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s, opacity 0.3s;
}

/* Старый элемент уезжает только в нужную сторону */
.slide-out-right-to-left { 
  transform: translateX(-100%);
  opacity: 0;
}
.slide-out-left-to-right {
  transform: translateX(100%); 
  opacity: 0;
}

/* Новый элемент появляется сразу в начале и скользит только в нужную сторону */
.slide-in-right-to-left {
  transform: translateX(100%); 
  animation: slideInRight 0.3s forwards;
}

.slide-in-left-to-right {
  transform: translateX(-100%);
  animation: slideInLeft 0.3s forwards;
}

/* Скрытие нового элемента во время анимации старого */
.hidden {
  opacity: 0;
}

/* keyframes */
@keyframes slideInRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
