body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 500px;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* .money-block {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
} */